/* Stylesheet */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {  

  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
}

/* Apply Font */
main {
  padding-top: 30px;
  text-align: center;

  font-family: 'Abril Fatface';
  color: white;
  font-size: 24px;
  
  /* Add contrast to text */
  background-color: rgba(8, 8, 8, 0.582);
  border-radius: 15px;

}