/* Stylesheet */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {  

  /* sharpie font */
  font-family: 'Sharpie-Regular';



  /* Horizontal and Vertical Center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Extend full height of browser  */
  height: 100vh;
  
  /* Load Background Images with JS. Style with CSS */ 
  background-size: cover;
}

/* Apply Font */
main {
  font-family: 'Fondamento';
  
  font-size: 24px;
  text-align: center;
  
  /* Add contrast to text */
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;

}